VITE_API_URL="http://localhost:4000/api"
VITE_HELPLINE="+250 7XX XXX XXX"
VITE_WHATSAPP_NUMBER="2507XXXXXXXX"
VITE_MOMO_NUMBER="2507XXXXXXXX"
VITE_APP_STORE_URL="#"
VITE_PLAY_STORE_URL="#"
VITE_INSTAGRAM_URL="https://instagram.com/your_handle"
VITE_TIKTOK_URL="https://tiktok.com/@your_handle"
VITE_FACEBOOK_URL="https://facebook.com/your_page"
VITE_X_URL="https://x.com/your_handle"
VITE_THREADS_URL="https://threads.net/@your_handle"
VITE_YOUTUBE_URL="https://youtube.com/@your_handle"
VITE_MAP_EMBED_URL="https://www.google.com/maps?q=City+Plaza+Kigali&output=embed"
